@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');

/* MENU LATERAL ARCHIVES */

.main-navigation {
    display: flex;
    justify-content: center;
}

.menu {
    flex-basis: 100%;
    display: none;
    list-style: none;
    overflow: hidden;
    font-family: 'Chilanka'
}

.menu-toggle {
    font-family: 'Chilanka'
}

.menu li a {
    text-decoration: none;
    /* border-bottom: 1px solid rgb(238, 238, 238); */
    display: inline-block;
    padding: 0.5em 1em;
}

.menu-checkbox:checked~.menu {
    display: block;
    padding-left: 0;
}

.menu-checkbox {
    opacity: 0;
    position: absolute;
    top: -1000px;
}

.menu-checkbox:focus+.menu-toggle {
    /* outline: #667999 auto 5px; */
}

.menu-toggle {
    padding: .5em 1em;
}

.nav-wrapper {
    align-items: center;
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

@media screen and (min-width: 961px) {}