@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');


/* ARTICLE SUR PAGE ARTICLE */

h2{
    font-family: "Chilanka";
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 3em;
}
.article{
    border: 0.2em double  #A6B0C1;
    padding:3em 5em;
    border-radius: 2em;
}

h3{
    color: #E7B492;
    font-size: 2em;
    padding-bottom: 2em;
}
p {
    text-align: justify;
    padding-right: 0.8em;
    padding-left: 0.8em;
}
.structure-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    min-width: 700px;
    margin: 20px;
    font-family: "Chilanka";
    font-size: 1.2em;
}

.article img {
    height: 400px;
    margin-right: 20px;
}

@media screen and (max-width: 961px) {

    h1 {
        margin-left: 1em;
    }
    span {   
        margin-left: 1.3em;
    }
    .container-menu{
        padding-bottom: 0.3em;
        padding-top: 0.3em;
        margin-bottom: 3em;
        border: 0.2em double  #A6B0C1;
    }
    .bouton-menu{
        font-size:1.4em;
        
    }
/* 
    .structure-article{
        
    } */
    h2{
        font-size: 1.8em;
        padding-top: 0em;
        padding-bottom: 0em;
    }
    h3{
        text-align: center;
        margin-top: 0.5em;
        font-size: 1.8em;
        
    }
    .article {
        display:flex;
        flex-direction: column; 
        min-width: 17em;
        padding-top: 2em;
        border: 0.2em double  #A6B0C1;
        border-radius: 0.5em;
        box-shadow: 1em 0.5em 1em #A6B0C1;
    }

    .article img{
        height: 200px;
        width: 200px;
        position: absolute;
        padding-top: 4.3em;
        padding-left: 3.2em;
    }

    p{
        font-size: 0.8em;
        padding-top: 12.5em;
    }

    h2{
        margin-bottom: 1em;
    }