@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');


/* ARTICLE SUR PAGE ARTICLE */

.structure-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    min-width: 700px;
    margin: 20px;
    font-family: "Chilanka";
    font-size: 1.2em;
}

.article img {
    height: 400px;
    margin-right: 20px;
}

.article h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 961px) {
    .structure-article{
    }

    .article {
        display:flex;
        flex-direction: column; 
        min-width: 350px;

    }
    .article img{
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .article h2, p{
        font-size: 0.8em;
    }

