@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');


.portrait {
    display: flex;
    width: 75%;
    height: auto;
    padding: 10px 10px 5px 10px;
}

.apropos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px;
    border-radius: 2%;
}

.apropos h2 {
    display: flex;
    font-family: "Nanum Pen Script";
    padding: 5%;
}


.apropos p {
    text-align: justify;
    font-family: "Chilanka";
    padding: 0 10% 5% 10%;
}
/* FORMULAIRE DE CONTACT */

.contact h2 {
    display: flex;
    font-family: "Nanum Pen Script";
    text-decoration: none;
    justify-content: center;
    padding: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form * {
    margin-bottom: 10px;
    margin-left: 30px;
}

input,
textarea {
    border: solid 2px;
    width: 80%;
    font-family: "Nanum Pen Script";
    padding-left: 5%;
    font-size: 1.2em;
    margin-left: 15%;
}

textarea {
    height: 78px;
}

.bouton {
    width: 22%;
    padding-left: 65%;
}

.submit {
    border-radius: 5px;
    cursor: pointer;
    background-color: #8291A9;
}

.contributeurs p {
    font-family: "Chilanka";
    padding: 5%;
    font-size: 0.8em;
}
/*footer*/

.footer {
    display: flex;
    background-color: #e7b492;
    justify-content: space-around;
}

.footer h2 {}

.footer a {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: "Nanum Pen Script";
    font-size: 1.2em;
    justify-content: center;
    padding: 10px;
}

.footer ul {
    flex-direction: column;
}

.footer li {
    list-style: none;
}
/* MEDIA QUERIES POUR ECRAN DESKTOP */

@media screen and (min-width: 961px) {
    /*PAGE QUI SUIS-JE ET CONTACT*/
    /*qui suis-je*/
    .portrait {
        width: 40%;
        height: auto;
    }
    .apropos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0px;
        
    }
    .apropos h2 {
        position: relative;
        left: 70%;
        bottom: 5em;
        text-align: center;
        width: 50em;
    }
    /*
display: block;
}
span {
display: block;
}*/
    .apropos p {
        text-align: justify;
        font-family: "Chilanka";
        padding: 5%;
    }
    /*FORMULAIRE*/
    .contact h2 {
        display: flex;
        font-family: "Nanum Pen Script";
        text-decoration: none;
        justify-content: center;
        padding: 35px;
    }
    .form {
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 100%;
        /* padding-left: 14%;*/
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 20%;
    }
    .form * {
        margin-bottom: 10px;
    }
    input,
    textarea {
        border: solid 2px;
        width: 40%;
        font-family: "Nanum Pen Script";
        padding-left: 2px;
        padding-right: 5%;
        margin-right: 10px;
        font-size: 1.2em;
    }
    textarea {
        height: 150px;
    }
    .bouton {
        width: 18%;
        padding-left: 44%;
    }
    .submit {
        border-radius: 5px;
        cursor: pointer;
        background-color: #8291A9;
    }
    .contributeurs p {
        font-family: "Chilanka";
    }

}