/* ARTICLES SUR PAGE INDEX */

.container-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.article-preview {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px;
    font-family: "Chilanka";
}

.photo-preview {
    height: 150px;
}

@media screen and (max-width: 961px) {

    .container-articles {
        flex-direction: row;
    }

    .article-preview {
        width: 40%;
    }
}