@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

/* LOGO + TITRE */

.container-logo {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 120px;
}

.titre {
    font-family: "Pacifico";
    display: block;
    width: auto;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

/* MENU DE NAVIGATION */

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Nanum Pen Script";
    list-style-type: none;
    background-color: black;
    height: 70px;
    align-items: center;
}

.bouton-menu {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: white;
}


/* SEPARATEUR ARTICLES ET MENU ARCHIVES */

.separateur {
    display: flex;
    flex-direction: column;
}

/* BAS DE PAGE */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.container-footer-links {

}

.footer-link {
    display: block;
    color: white;
    text-decoration: none;
    font-family: "Nanum Pen Script";
    font-size: 1.5em;
}

/* MEDIA QUERIES POUR ECRAN DESKTOP */


@media screen and (min-width: 961px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .titre { 
        width: 300px;
    }
    .container-menu {
        height: 120px;
        width: 70%;
        align-items: center;
    }
    .container-menu div{
        display: flex;
        flex-direction: row;
    }

    .separateur {
        flex-direction: row-reverse;
    }


