@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}


/* LOGO + TITRE */

.container-logo {
    display: flex;
    flex-direction: row;
    background-color: #E7B492;
}

.logo {
    height: 180px;
}

.titre {
    font-family: "Pacifico";
    display: block;
    width: auto;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}


/* MENU DE NAVIGATION */

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: "Nanum Pen Script";
    background-color: #E7B492;
    height: 70px;
}

.bouton-menu {
    font-size: 2em;
    text-decoration: none;
    color: white;
    width: 40%;
}


/* SEPARATEUR ARTICLES ET MENU ARCHIVES */

.separateur {
    display: flex;
    flex-direction: column;
}

/* BAS DE PAGE */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.footer-link {
    display: block;
    color: white;
    text-decoration: none;
    font-family: "Nanum Pen Script";
    font-size: 1.5em;
}

/* MEDIA QUERIES POUR ECRAN DESKTOP */

@media screen and (min-width: 961px) {

    header {
        display: flex;
        flex-direction: row;
    }

    .container-logo {
        width: 50%;
    }

    .logo {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    .container-menu {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
    }
    
    .titre { 
        text-align: center;
    }
    
    .bouton-menu {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .separateur {
        flex-direction: row;
    }
}