@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');
* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    min-width: 430px;
}


/* LOGO + TITRE */

.container-logo {
    display: flex;
    flex-direction: row;
    background-color: #E7B492;
}

.logo {
    height: 120px;
}

.titre {
    font-family: "Pacifico";
    font-size: 2em;
    display: block;
    text-align: center;
    width: auto;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    color: #314B76;
    text-shadow: 3px 3px 1px gray; 
}

/* MENU DE NAVIGATION */

.container-menu {
    display: flex;
    flex-direction: column;
    font-family: "Nanum Pen Script";
    background-color: #E7B492;
    width: 100%;
}

.container-boutons-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.bouton-menu {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    width: 45%;
}

/* SEPARATEUR ARTICLES */

.separateur {
    display: flex;
    flex-direction: column;
}


/* BAS DE PAGE */

.footer {
    display: flex;
    background-color: #e7b492;
    justify-content: space-around;
}

.footer a {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: "Nanum Pen Script";
    font-size: 1.2em;
    justify-content: center;
    padding: 10px;
}

.footer ul {
    flex-direction: column;
}

.footer li {
    list-style: none;
}


/* MEDIA QUERIES POUR ECRAN DESKTOP */

@media screen and (min-width: 961px) {
    header {
        display: flex;
    }

    .container-logo {
        width: 15%;
    }

    .logo {
        height: 170px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    .container-menu {
        width: 100%;
        justify-content: flex-end;
        height: auto;
    }
    
    .titre { 
        text-align: center;
        font-size: 3em;
    }
    
    .container-boutons-menu {
        width: 100%;
    }

    .bouton-menu {
        font-size: 2em;
        text-align: center;
        width: auto;
    }

    .footer {
        height: 100px;
    }
    .footer ul {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    .footer li {
        padding: 15px 0 15px 0px;
    }
  
    .footer a {
        font-size: 1em;
    }

}


@media screen and (min-width: 650px) and (max-width: 961px) {

    .titre {
        font-size: 2.5em;
    }
    .bouton-menu {
        font-size: 1.6em;
        width: auto;
        text-align: center;
    }

}