@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');

section h2{
    font-family: "Pacifico";
    font-weight: lighter;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 3em;
    color: #B26D3F;
}

.ballons2{
    animation-duration: 20s;
    animation-name: ballons2;
    animation-iteration-count: infinite;
    width: 10%;
    height: auto; 
    position: absolute;
    right:8em;
    z-index: 5;
}

@keyframes ballons2 {
    from{
        opacity: 0;
        top:30em;
    }
    30% { 
        opacity: 1;
        
    }
    80% {
        opacity: 0.5;
        top: 12em;
    }
    to{
        opacity: 0;
        top:10em;
    }
}
.ballons1{
    animation-duration: 20s;
    animation-name: ballons1;
    animation-iteration-count: infinite;
    width: 15%;
    height: auto; 
    position: absolute;
    left:8em;
    z-index: 5;
}
@keyframes ballons1 {
    from{
        opacity: 0;
        top:20em;
    }
    20% { 
        opacity: 1;
        
    }
    80% {
        opacity: 0.5;
        top: 12em;
    }
    to{
        opacity: 0;
        top:12em;
    }
}

.slide_2{
    animation-duration: 20s;
    animation-name: slide2;
    animation-iteration-count: infinite;
    position: absolute;
    top: 3%;
    width:100%;
}

.article{
    border: 0.2em double  #A6B0C1;
    padding:3em 0.5em;
    border-radius: 2em;
}

.acheter{
    text-decoration: line-through;
}

p {
    text-align: justify;
    padding-right: 0.8em;
    padding-left: 0.8em;
    font-family: "Chilanka";
}

.Bref{
    text-align: center;
    font-weight: bold;
}

.structure-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    min-width: 430px;
    margin: 20px;
    
    font-size: 1.2em;
}

section h3{
    color: #B26D3F;
    font-size: 2em;
    padding-bottom: 2em;
    font-family: "Pacifico";
    font-weight: lighter;
}

.article img {
    height: 400px;
    margin-right: 20px;
    box-shadow: 10px 10px 25px black;
    transform: rotate(-3deg);
}

@media screen and (max-width: 961px) {

    h1 {
        margin-left: 1em;
    }

    .Bref {   
        margin-left: 1.3em;
    }

    section h2{
        font-size: 1.8em;
        padding-top: 1em;
        padding-bottom: 0em;
        margin-bottom: 1em;
    }

    .ballons1{
        animation-duration: 30s;
        animation-name: ballons1;
        animation-iteration-count: infinite;
        width: 30%;
        height: auto;
        position: absolute;
        left:1em;
    }

    @keyframes ballons1 {
        from{
            opacity: 0;
            top:23em;
        }
        20% { 
            opacity: 1;
            
        }
        80% {
            opacity: 0.4;
            top: 13em;
        }
        to{
            opacity: 0;
            top:13em;
        }
    }
    .ballons2{
        animation-duration: 30s;
        animation-name: ballons2;
        animation-iteration-count: infinite;
        width: 15%;
        height: auto;
        position: absolute;
        left:20em;
    }

    @keyframes ballons2 {
        from{
            opacity: 0;
            top:30em;
        }
        60% { 
            opacity: 1;
            
        }
        80% {
            opacity: 0.3;
            top: 13em;
        }
        to{
            opacity: 0;
            top:3em;
        }
    }
    section h3{
        text-align: center;
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    .article {
        display:flex;
        flex-direction: column; 
        min-width: 17em;
        padding-top: 2em;
        border: 0.2em double  #A6B0C1;
        border-radius: 0.5em;
        box-shadow: 1em 0.5em 1em #A6B0C1;
    }

    .article img{
        height: 200px;
        width: 200px;
        position: absolute;
        padding-top: 4.3em;
        padding-left: 3.2em;
        box-shadow: none;
        transform: none;
    }

    p{
        font-size: 0.8em;
        padding-top: 12.5em;
    }

}