/* ARTICLES SUR PAGE INDEX */

.container-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-bottom: 40px;
}

.article-preview {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px;
    font-family: "Chilanka";
}

.article-preview h2 {
    font-family: "Pacifico";
    font-weight: lighter;
    color: #B26D3F;
    line-height: 1.2em;
}

.article-preview div {
    margin-top: 6px;
}

.article-preview h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.photo-preview {
    height: 150px;
    margin-right: 20px;
    box-shadow: 6px 6px 15px black;
    transform: rotate(-3deg);
}


@media screen and (min-width: 961px) {

    .container-articles {
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        margin-left: 0;
    }

    .article-preview {
        width: 40%;
    }
}