@import url('https://fonts.googleapis.com/css?family=Chilanka|Nanum+Pen+Script|Pacifico&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/fond.png");
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    flex-direction: column;
    min-width: 380px;
}


/* LOGO + TITRE */

.container-logo {
    display: flex;
    flex-direction: row;
    background-color: #E7B492;
}

.logo {
    height: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 4;
}

.titre {
    font-family: "Pacifico";
    font-weight: lighter;
    font-size: 2.2em;
    display: block;
    text-align: center;
    width: auto;
    padding-left: 60px;
    padding-top: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #314B76;
    text-shadow: 3px 3px 1px gray;
    height: 80px;
}

/* MENU DE NAVIGATION */

.container-menu {
    display: flex;
    flex-direction: column;
    font-family: "Nanum Pen Script";
    background-color: #E7B492;
    width: 100%;
}

.container-boutons-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.bouton-menu {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    width: 45%;
    font-weight: bold;
}

.bouton-menu:hover {
    color: #314B76;
}

/* SEPARATEUR ARTICLES */

.separateur {
    display: flex;
    flex-direction: column;
}


/* BAS DE PAGE */

.footer {
    display: flex;
    background-color: #e7b492;
    justify-content: space-around;
}

.footer a {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: "Nanum Pen Script";
    font-size: 1.5em;
    justify-content: center;
    padding: 5px;
}

footer a:hover {
    color: #314B76;
}

.footer ul {
    flex-direction: column;
}

.footer li {
    list-style: none;
}

/* MEDIA QUERIES POUR TABLETTES */

@media screen and (min-width: 720px) and (max-width: 961px) {

    header {
        flex-direction: row;
    }

    .logo {
        height: 120px;
    }

    .container-menu {
        padding-left: 120px;
    }

    .titre {
        font-size: 2.5em;
        height: auto;
        padding-left: 0;
        padding-top: 0;
    }
    .bouton-menu {
        font-size: 1.5em;
        width: auto;
        text-align: center;
    }

}


/* MEDIA QUERIES POUR ECRAN DESKTOP */

@media screen and (min-width: 961px) {
    header {
        flex-direction: row;
    }

    .container-logo {
        width: 15%;
    }

    .logo {
        height: 170px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    .container-menu {
        padding-left: 30px;
        width: 100%;
        justify-content: flex-end;
        height: auto;
    }
    
    .titre { 
        text-align: center;
        font-size: 3.5em;
        height: auto;
        padding-left: 0;
        padding-top: 0;
    }
    
    .container-boutons-menu {
        width: 100%;
    }

    .bouton-menu {
        font-size: 2em;
        text-align: center;
        width: auto;
    }

    .footer {
        height: 100px;
    }
    .footer ul {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    .footer li {
        padding: 15px 0 15px 0px;
    }
  
    .footer a {
        font-size: 2em;
    }

}

